[Unit]
Description=docker compose service
After=network.target docker.service
[Service]
Type=simple
WorkingDirectory=/path/to/docker-compose-dir
ExecStart=/usr/local/bin/docker-compose -f /path/to/docker-compose-dir/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /path/to/docker-compose-dir/docker-compose.yml down
#Restart=always
[Install]
WantedBy=multi-user.target